<!DOCTYPE html>
<html>
<head>
    <title>Eat-da_Burger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
<body>
    <nav>
        <div class="nav-wrapper brown lighten-1">
          <a href="#" class="brand-logo center">Eat-da-Burger</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
          </ul>
          <!-- wallpaper background blur image -->
          <div class="background-img"></div>
        </div>
    </nav>
    {{{body}}}
</body>
</html>
